[Unit]
Description=The Openbox Window Manager
After=xorg.target

[Service]
ExecStart=/bin/openbox
Restart=on-failure

[Install]
WantedBy=openbox.target
