[Unit]
Description=lightweight panel/taskbar
Documentation=man:tint2(1)
Requires=xorg.target
After=xorg.target
Before=panel.target

[Service]
ExecStart=/bin/tint2
Restart=on-failure

[Install]
Alias=panel.service
