[Unit]
Description=XScreensaver
Documentation=man:xscreensaver(1)
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/bin/xscreensaver -no-splash
Restart=on-failure

[Install]
WantedBy=xorg.target
