*

!/.bash_completion
!/.bash_completion.d/
!/.bash_completion.d/**
!/.bash_profile
!/.bashrc
!/.config/
!/.config/awesome/
!/.config/awesome/**
!/.config/dmenu/
!/.config/dmenu/**
!/.config/git/
!/.config/git/**
!/.config/gnome-session/
!/.config/gnome-session/sessions/
!/.config/gnome-session/sessions/**
!/.config/openbox/
!/.config/openbox/**
!/.config/redshift/
!/.config/redshift/**
!/.config/systemd/
!/.config/systemd/**
!/.config/tint2/
!/.config/tint2/**
!/.ctags
!/.gitignore
!/.gitmodules
!/.gvimrc
!/.hgignore
!/.hgrc
!/.inputrc
!/.local/share/applications/gtk-redshift.desktop
!/.mailcap
!/.profile.d/
!/.profile.d/**
!/.rpmmacros
!/.tmux.conf
!/.vim/
!/.vim/**
!/.vimrc
!/README.markdown
!/bin/
!/bin/**
!/opt/git-repo/
!/opt/git-repo/**
!/opt/taro/
!/opt/taro/**

/.config/gnome-session/sessions/gnome.session
