[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/git"]
	path = .vim/bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = git://github.com/tsaleh/vim-align
[submodule ".vim/bundle/glsl"]
	path = .vim/bundle/glsl
	url = git://github.com/tikhomirov/vim-glsl.git
[submodule "opt/taro"]
	path = opt/taro
	url = git://github.com/chadversary/taro.git
