[submodule ".vim/bundles/pathogen"]
	path = .vim/bundles/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundles/git"]
	path = .vim/bundles/git
	url = git://github.com/tpope/vim-git.git
[submodule ".vim/bundles/fugitive"]
	path = .vim/bundles/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundles/dispatch"]
	path = .vim/bundles/dispatch
	url = git://github.com/tpope/vim-dispatch.git
